/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .topnav {
    display: flex;
    flex-direction: row;
    min-height: 38px;
    background-color: chocolate;
    justify-content: center;
    justify-content: space-evenly;
    font-size: 3rem;
    border: solid;
  }

  .sort-links {
      display: flex;
      justify-content: center;
      justify-content: space-evenly;
      border: solid;
      font-size: 2rem;
  }

  #stats-box {
      display: flex;
      flex-direction: column;
      align-self: auto;
      border: solid;
      font-size: 1.5rem;
  }

  #top-rated {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
  }

  #lowest-rated {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
  }

  #user-review-stats {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
  }

  #book-list {
      display: flex;
      justify-content: center;
      justify-content: space-evenly;
      flex-direction: column;
  }

  #book-card {
      display: flex;
      border: solid;
      flex-direction: column;
      justify-content: center;
  }

  #welcome-box {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
  }
  #welcome-books {
      display: flex;
      justify-content: center;
    
  }

  #welcome-msg {
    display: flex;
    justify-content: center;
    font: bold;
  }

  h4 {
      display: flex;
      justify-content: center;
  }

  body {
    background-color: bisque;
  }